.welcome-message{
    color: hsl(0, 0%, 40%);
    width: 455px;
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    padding: 10px;
    margin: 0;
    border: 10px solid hsl(222, 77%, 66%);
    border-left-color: black;
    box-sizing: border-box;
    text-shadow: 1px 0px 10px hsl(201, 67%, 53%);
    box-shadow: 1px 1px 1000px hsla(0, 0%, 28%, 0.8);
}

.login-prompt{
  color: hsl(0, 0%, 40%);
  width: 450px;
  font-size: 2em;
  font-family: Arial, sans-serif;
  padding: 20px 10px;
  border: 10px solid hsl(222, 77%, 66%);
  border-left-color: hsl(18, 82%, 46%);
  box-sizing: border-box;
  text-shadow: 1px 0px 10px hsl(18, 100%, 50%);
  box-shadow: 1px 1px 1000px hsla(0, 57%, 45%, 0.8);
}